// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px ==> 1200px/16px => 75
$bp-large: 62.5em; // 1000px ==> 1000px/16px => 62.5
$bp-medium: 50em; // 800px ==> 800px/16px => 50
$bp-small: 37.5em; // 600px ==> 600px/16px => 37.5

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;  // 1rem = 8px
  }
}

body {
  font-family: $font-display;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;

  // Define 6 rows
  // In a typical design, we usually name columns then the rows, as the content is more focused
  // towards the columns.
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);

  // For the columns we can use industry standards, for an instance bootstrap uses 12 columns.
  // Here let's use fixed 8 columns.
  // grid-template-columns: repeat(8, 1fr);
  // In order to have fix size of the column, we will use 14rem ~ [1140px => 1140/8 => 142.5px ~ 14rem]
  // Also this size should be between min-content size and the max 14rem.
  // Also we add 8rem for the sidebar.
  // And also let's add another two 1fr columns either and of above 8 columns, so that they will
  // adjust it's width while keeping those 8 cells within the defined "minmax" range.
  //grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];

  // But when we reduce the screen size, above mentioned 1fr columns will disappear, hence let's add a min width to them.
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8,[col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr)  [full-end];

  @media only screen and (max-width: $bp-large) {

    // We add a new row to place the side bar. Because we are moving side bar from being a column to row.
    grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);

    // Here we have removed the side bar from the columns.
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8,[col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr)  [full-end];
  }

  @media only screen and (max-width: $bp-medium) {
    // Here we are going to add a new row, in order to move the realtors section to a new row.
    // 6rem - for sidebar,

    // calc(100vh-6rem) - for header  we need to have the size of full view port height for the header,
    // but since we have 6rem sidebar top of the header as a row, we need to reduce that from the
    // full view port height(i.e 100% of the view port height(100vh))
    // 100vh = 100% of the view port height.
    // This allows to cover entire view port from the header and sidebar, thus next section only visible
    // after a scroll.

    // 1st min-content - for realtors. etc.
    //grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content 40vw repeat(3, min-content);

    // But to have responsive behavior for "story__content", we need to set it's row to "min-content"
    //grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content);

    // Since we have 6 min-content, we can remove all them and simplify the definition as follows:
    // Hence CSS grid auto placement algorithm will find the balance between remaining rows based on
    // the each of the row contents. (same as having above definition with 6 min-content rows.)
    grid-template-rows: 6rem calc(100vh - 6rem);
  }
}